@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans+Condensed:wght@300&family=Source+Code+Pro&family=Stint+Ultra+Condensed&display=swap");

//set the main color scheme
$color-scheme: 0;

$background-color: #e7f1f0;
$spinner-color: #3c8f87;

//schema 0 - light blue (default)
$main-color: #5d97b3; //navbar etc.
$brightest-color: #acd7de;
$font-color: #ffffff;
$darkest-color: #002b38; //footer
$middle-color: #2b4d74;

@if $color-scheme == 1 {
    //schema 1 - light purple
    $main-color: #4d6fbb;
    $brightest-color: #60bfb9;
    $font-color: #ffffff;
    $darkest-color: #596786;
    $middle-color: #c3aa8c;
} @else if $color-scheme == 2 {
    //schema 2 - light orange
    $main-color: #bd752b; /* main color */
    $brightest-color: #f1d76f; /* brightest color */
    $font-color: #ffffff; /* font-color */
    $darkest-color: #421f07; /* darkest color */
    $middle-color: #7f6334; /* middle color */
}

//colors for the app

$red: #a1484c;

//font
