@use './vars' as var;

// .card-phrase {
//     padding: 1rem;
//     font-size: 1.2rem;
//     font-style: italic;
// }

// .card-controls {
//     padding: 0.5rem;
// }

// .hide {
//     display: none;
// }

// .show {
//     opacity: 1 !important;
// }

// .hideOpacity {
//     opacity: 0;
// }

// .translation {
//     opacity: 0;
//     -webkit-transition: opacity 0.5s 0.2s ease-in-out;
//     -moz-transition: opacity 0.5s 0.2s ease-in-out;
//     -o-transition: opacity 0.5s 0.2s ease-in-out;
//     transition: opacity 0.5s 0.2s ease-in-out;
// }

// .phrase {
//     -webkit-animation: phrase 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
//     animation: phrase 0.6s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
// }

@-webkit-keyframes phrase {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}
@keyframes phrase {
    0% {
        -webkit-transform: rotateX(0);
        transform: rotateX(0);
    }
    100% {
        -webkit-transform: rotateX(-360deg);
        transform: rotateX(-360deg);
    }
}

@media screen and (max-width: 1000px) {
    .card {
        margin: 0.5rem;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 100%;
        height: 55%;
    }

    .separator {
        margin: 1rem 0;
    }

    .card-phrase {
        padding: 0.5rem;
        font-size: 1.2rem;
    }
}

////////////////////////////////////////7

//Cards.tsx
.card-wrapper {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

//SingleCard.tsx
.card {
    width: 500px;
    grid-template-rows: 20px 50px 1fr 50px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
    transition: all 0.5s;
    border: 0.1px solid #4288ab;
    border-radius: 25px;
    margin: 2rem 2rem 0.5rem 2rem;
    height: 250px;
    text-align: center;
    background: radial-gradient(var.$light-shades, var.$main-color);
    border-bottom-width: 15px;
    border-left-width: 15px;

    &:hover {
        // box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.01);
    }
}

.card-phrase {
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-controls {
    display: flex;
    height: 19%;
    // align-items: center;
    // justify-content: space-around;
}

.card-control-icon {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
    }
}

.card-control-icon-false {
    @extend .card-control-icon;
    color: var.$red;

    &:hover {
        background-color: #fba3a3;
        border-bottom-right-radius: 10px;
    }
}

.card-control-icon-true {
    @extend .card-control-icon;
    color: var.$dark-shades;

    &:hover {
        background-color: #a3fbaa;
        border-bottom-left-radius: 10px;
    }
}

.separator {
    // margin: 5px 0px;
    border: 1px solid #5d97b3;
    opacity: 0.5;
}

//effects
@media (max-width: 1600px) {
    .card-container {
        justify-content: center;
    }
}
