/* global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* disable anoining pop up errors created by create-react-scripts */
iframe {
    display: none;
}

body {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    background-color: #fafafa;
    font-family: serif !important;
}

.bodyWrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.contentWrapper {
    width: 85%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 756px) {
    body {
        font-size: 14px !important;
        line-height: 1.2;
    }
}

@media screen and (max-width: 450px) {
    .contentWrapper {
        width: 93%;
    }
}

