@use './vars' as var;

/* navbar */
.navbar {
    margin-bottom: 6rem;
    height: 4rem;
    background-color: var.$main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    position: relative;
}

.navbar-links {
    list-style: none;
    margin: 0 1rem 0 9rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}

.navbar-links li {
    padding: 0 1rem;
}

.logo {
    margin: 0 3rem 0 1rem;
    position: absolute;
    top: 33%;
    left: 0%;
    z-index: 2;
}

.hideNav,
.hamburger {
    display: none;
}

@media screen and (max-width: 768px) {
    /* navbar media */
    .navbar-links {
        /* position: fixed; */
        background-color: var.$color2;
        // height: 32vh;
        height: 18rem;
        width: 100%;
        flex-direction: column;
        margin: 0;
        clip-path: circle(100px at 92% -34%);
        -webkit-clip-path: circle(100px at 92% -34%);
        transition: all 1.2s ease-out;
        /* pointer-events: none; */
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 18rem;
    }

    .navbar-links li {
        opacity: 0;
        padding: 2rem;
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar-links.right {
        display: none;
    }

    .hideNav {
        display: block;
    }

    /* animations & transitions */
    .navbar-links.open {
        clip-path: circle(1500px at 90% -10%);
        -webkit-clip-path: circle(1500px at 90% -10%);
        /* pointer-events: all; */
    }

    .nav-link-transition:nth-child(1) {
        transition: all 0.5s ease 0.2s;
    }

    .nav-link-transition:nth-child(2) {
        transition: all 0.5s ease 0.4s;
    }

    .nav-link-transition:nth-child(3) {
        transition: all 0.5s ease 0.6s;
    }

    .navbar-links li.fade {
        opacity: 0.7;
    }

    .navbar-links li.fade:hover {
        opacity: 1;
    }

    /* hamburger media */
    .line {
        width: 2rem;
        background-color: white;
        height: 0.2rem;
        margin: 5px;
    }

    .hamburger {
        display: block;
        position: absolute;
        right: 5%;
        top: 25%;
        cursor: pointer;
        z-index: 2;
    }
}
