@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Open+Sans+Condensed:wght@300&family=Source+Code+Pro&family=Stint+Ultra+Condensed&display=swap");

//colors for the app
$color1: "#5d97b3";
$color2: "#002b38";
$color3: "#FFFFFF";
$color4: "#2B4D74";
$color5: "#62AA97";

//font
