.appWrapper {
    position: relative;
    // min-height: 100%;
    min-width: 100%;

    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensures viewport height */
}

.appWrapper::after {
    content: '';
    background-image: url('../../../assets/images/bgPicture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
}

.bodyWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    width: 100%;
    // min-height: 100vh;
    margin: auto;
    padding: 10% 0.5rem;
}

/* BREAKPOINTS  */

// SCREEN PHONE
@media screen and (min-width: 450px) {
    // .bodyWrapper {
    //     width: 95%;
    // }
}

// SMALLER SCREEN TABLET
@media screen and (min-width: 600px) {
    // .bodyWrapper { //perfect
    //     width: 90%;
    // }
}

// BIGGER SCREEN TABLET
@media screen and (min-width: 750px) {
    .bodyWrapper {
        width: 85%;
        padding: 6% 0 20%;
    }
}

// SMALL SCREEN DESKTOP
@media screen and (min-width: 1200px) {
    .bodyWrapper {
        width: 70%;
    }
}

// MIDDLE SCREEN DESKTOP
@media screen and (min-width: 1500px) {
    .bodyWrapper {
        width: 60%;
        max-width: 1200px;
    }
}

// LARGE SCREEN DESKTOP
@media screen and (min-width: 1800px) {
    // .bodyWrapper {
    //     width: 50%;

    // }
}
