.warpper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.codeNumber {
    font-size: 6rem;
    font-weight: bold;
    margin-bottom: 0;
}
