.formInput {
    border: 1px solid #85cdca;
    border-radius: 0 5px 5px 0;
    border-left-width: 0;
    height: 44px;
    min-width: 78%;
    max-width: 78%;
    width: 78%;
    background: none;
    text-align: center;

    &:focus {
        border: 1px solid #85cdca;
        outline: none;
    }
}

.formLabel {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 44px;
    max-width: 22%;
    min-width: 22%;
    width: 22%;
    padding: 10px;
    border: 1px solid #85cdca;
    border-radius: 5px 0 0 5px;
    color: #203a4f;
}

.formItem {
    display: flex;
    margin: 0.5rem 0;
    width: 100%;
    padding: 0px 2rem;
}
