.formInput {
    border: 1px solid #85cdca;
    border-radius: 0 5px 5px 0;
    border-left-width: 0;
    height: 44px;
    width: 540px;
    background: none;
    text-align: center;

    &:active {
        border: none;
        outline: none;
    }
}

.formLabel {
    border: 1px solid #85cdca;
    border-radius: 5px 0 0 5px;
    height: 44px;
    width: 150px;
    padding: 10px;
    text-align: center;
}

.formItem {
    display: flex;
    margin: 0.5rem 0;
    width: 100%;
    padding: 0px 2rem;
}
