.withoutLabel {
    min-width: 100%;
    max-width: 100%;
    width: 100%;
    border-right-width: 0;
    // margin-bottom: 0.8rem;
}

.touched {
    border: 2px solid var(--color-dark-accent);
    font-style: normal;
    outline: none;
    background-color: var(--color-light-accent);
}

.invalidInput {
    border: 2px solid var(--color-invalid-dark);
    background-color: unset;

    &.touched {
        background-color: var(--color-invalid-light);
    }
}

// FORM type input
.formLabel {
    max-width: 22%;
    min-width: 22%;
    width: 22%;
    border: 1px solid var(--color-dark-accent);
    border-radius: 5px 0 0 5px;
    color: var(--color-text-dark);
}

// FILTER type input
.filterLabel {
    max-width: 30%;
    min-width: 30%;
    width: 30%;
    color: var(--color-text-dark);
}
