@use "styles/style.module.scss" as var;

.button {
    justify-content: center;
    align-items: center;
    display: flex;

    min-width: 5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;

    color: #203a4f;
    background: #fafbff;

    font-size: 1rem;

    outline: none;
    transition: all 0.5s ease 0s;
    border: 1px solid #85cdca;

    &:hover {
        cursor: pointer;
        background-color: #41b3a3 !important;
        box-shadow: 0px 8px 12px rgba(100, 198, 223, 0.4);
        transform: translateY(-3px);
    }

    &.disabled {
        background: #85cdca !important;
        color: #fafbff !important;
        &:hover {
            cursor: not-allowed;
            transform: none;
        }
    }

    &.active {
        background-color: #41b3a3 !important;
        color: #fafbff !important;
    }

    &.small {
        width: 145px;
        height: 28px;
        font-size: 1rem;

        box-shadow: rgb(0 0 0 / 25%) 0px 4px 4px;
        border-radius: 15px;
    }

    &.big {
        width: 338px;
        height: 51px;
        font-size: 1.5rem;

        margin: 2rem 0;

        letter-spacing: 0.1em;

        box-shadow: 0px 6px 6px rgb(0 0 0 / 30%);
        border-radius: 15px;
    }

    &.fullLine {
        letter-spacing: 0.1em;
        box-shadow: 0px 6px 6px rgb(0 0 0 / 30%);
        height: 45px;
        font-size: 1.2em;
        padding: 0;
        margin: 0;
        // min-width: 338px;
    }
}
