/* IMPORTS*/
/* GLOBAL VARIABLES */
/* SEMANTIC ELEMENTS */
/* OTHER ELEMENTS */
/* ANIMATIONS */
/* BREAKPOINTS  */

/* IMPORTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* GLOBAL VARIABLES */
:root {
    // MAIN COLOR PALLETE

    // MAIN COLORS
    --color-main: #41b3a3; // This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity.
    --color-main-light: #fafbff; // main color light, used for backgrounds and as white font color when dark background
    --color-light-accent: #daffe9; // used as light accent of main color, mostly in forms as valid input
    --color-dark-accent: #85cdca; // most of borders in boxes, elements

    // TEXT COLORS
    --color-text-dark: #203a4f; // mostly font color when white background
    --color-text-light: #fafbff; // main color light, used for backgrounds and as white font color when dark background

    // OTHER COLORS
    --color-invalid-light: #ffeae8; // color for invalid inputs
    --color-invalid-dark: #bf4a1c; // color for invalid inputs

    --color-facebook: #45619d;
    --color-thumpsDown: #c5a094;

    // these colors find out
    // #4f555a

    // OTHERS
    --box-shadow-main: 0px 6px 6px rgb(0 0 0 / 30%);
    --box-shadow-small: 0px 4px 4px rgb(0 0 0 / 30%);
    --transform-scale: 1.02;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 12px !important;
    height: 100%;
    width: 100%;
}

/* SEMANTIC ELEMENTS */
iframe {
    // disable anoyning pop up errors created by create-react-scripts
    display: none;
}

body {
    min-height: 100%;
    min-width: 100%;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.05em;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    font-family: "Roboto", sans-serif;
}

button {
    &:hover {
        cursor: pointer;
    }
}

input {
    border: 1px solid var(--color-dark-accent);
    background: var(--color-main-light);
    border-left-width: 0;
    height: 2.5rem;
    // min-width: 78%;
    // max-width: 78%;
    width: 78%;
    text-align: center;
    font-style: italic;
}

label {
    // align-items: center;
    // display: flex;
    // justify-content: flex-start;
    // height: 2.5rem;
    // padding-right: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* OTHER ELEMENTS */
h1,
h2,
h3,
h4,
p {
    text-align: center;
    color: var(--color-text-dark);
}

// 16px 1rem
// 32px 2rem
// 8px 0.5rem
// 4px 0.25rem

// as base for calculations used 16px which is 1rem for +1200px size
h1 {
    font-weight: 500;
    font-size: 1.75rem;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 1.37rem;
    letter-spacing: 0.1rem;
}

h4 {
    font-size: 1.25rem;
    letter-spacing: 0.07rem;
}

p,
a,
input {
    font-size: 1.12rem;
    letter-spacing: 0.05em;
}

svg {
    // width: 1.5rem;
    // height: 1.5rem;
    // margin: 0 0.8rem;
}

img {
    width: 2rem;
    height: 2rem;
}

/* BREAKPOINTS  */
// SCREEN PHONE
@media screen and (min-width: 450px) {
}

// SMALLER SCREEN TABLET
@media screen and (min-width: 600px) {
    // html {
    //     font-size: 12px !important;
    // }
}

// BIGGER SCREEN TABLET
@media screen and (min-width: 750px) {
    html {
        font-size: 14px !important;
    }
    // p,
    // a,
    // input {
    //     font-size: 1.12rem;
    // }
}

// SMALL SCREEN DESKTOP
@media screen and (min-width: 1200px) {
    html {
        font-size: 16px !important;
    }
}

// MIDDLE SCREEN DESKTOP
@media screen and (min-width: 1500px) {
}

// LARGE SCREEN DESKTOP
@media screen and (min-width: 1800px) {
    html {
        font-size: 18px !important;
    }
}
