.footer {
    width: 100%;
    color: var(--color-main-light);
    background-color: var(--color-main);
    padding: 1.5rem 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: 20rem 20rem 0 0;
    padding: 1rem 0;
    // position: absolute;
    // bottom: 0;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0;
    font-style: italic;

    p {
        &:last-child {
            display: none;
        }
    }

    a {
        padding: 0 0.3rem;
        color: var(--color-text-dark);
        text-decoration: none;

        &:hover {
            scale: var(--transform-scale);
            color: var(--color-text-light);
        }
    }
}

.socialNetwork {
    li {
        display: inline-flex;
        margin: 0 1rem;

        a {
            background-color: var(--color-main-light);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            width: 3.5rem;
            height: 3.5rem;
            font-size: 1.5rem;
        }
    }
}

/* ANIMATIONS */
.socialNetwork {
    a.icoFacebook:hover {
        background-color: #3b5998;
    }
    a.icoTwitter:hover {
        background-color: #33ccff;
    }
    a.icoGithub:hover {
        background-color: #161b22;
    }
    a.icoLinkedin:hover {
        background-color: #007bb7;
    }
    a.icoInstagram:hover {
        background: #f09433;
        background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    }
}

.icoFacebook:hover i,
.icoTwitter:hover i,
.icoGithub:hover i,
.icoInstagram:hover i,
.icoLinkedin:hover i {
    color: #e7eff6;
}

.socialCircle li a:hover i {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.socialCircle i {
    color: var(--color-text-dark);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
}

.rotateCenterHover:hover {
    -webkit-animation: rotateCenter 0.6s ease-in-out both;
    animation: rotateCenter 0.6s ease-in-out both;
}

@-webkit-keyframes rotateCenter {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotateCenter {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* BREAKPOINTS  */
// SCREEN PHONE
@media screen and (min-width: 450px) {
}

// SMALLER SCREEN TABLET
@media screen and (min-width: 600px) {
    .copyright {
        font-size: 1rem !important;

        p {
            &:last-child {
                display: flex;
            }
        }
    }
}

// BIGGER SCREEN TABLET
@media screen and (min-width: 750px) {
    .socialCircle li a {
        width: 2.5rem;
        height: 2.5rem;
        font-size: 1.2rem;
    }
}

// SMALL SCREEN DESKTOP
@media screen and (min-width: 1200px) {
}

// MIDDLE SCREEN DESKTOP
@media screen and (min-width: 1500px) {
}

// LARGE SCREEN DESKTOP
@media screen and (min-width: 1800px) {
}
