.multiselect {
    &::after {
        clear: both;
        content: "";
        display: table;
    }
}

.multiselectWrapper {
    display: flex;
    align-content: center;
    justify-content: end;

    & label {
        // margin-right: 2rem;

        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 40px;
        /* or 200% */

        text-align: center;
        letter-spacing: 0.05em;

        color: #203a4f;

        display: flex;
        justify-content: center;
    }
}

.multiselectDropdownItem {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 4px 12px;
    float: right;
    margin: 0px 22px;

    &:not(:last-of-type) {
        border-bottom: 1px solid #85cdca;
    }
    // :not(:last-of-type)
    // &::after {
    //     content: "";
    //     position: absolute;
    //     bottom: 1;
    //     left: 1;
    //     width: 50%;
    //     height: 1px;
    //     background-color: black;
    // }

    // &:first-child {
    //     padding-top: 10px;
    // }

    // &:last-child {
    //     padding-bottom: 10px;
    // }

    &:hover {
        & div {
            cursor: pointer;
            // box-shadow: 0 0 16px 7px #41b3a3;
            border-radius: 30px;
            // padding: 2px 10px;
            // letter-spacing: 1px;
        }
    }

    & img {
        padding-right: 5px;
        width: 26px;
        height: 26px;
    }

    & div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.multiselectDropdown {
    display: none;
    opacity: 0;
    height: 0%;
    flex-direction: column;
    float: right;
    margin: 0 1rem;
    width: 180px;
    background: #daffe9;
    border: 1px solid #85cdca;
    border-radius: 0px 0px 40px 40px;
    border-top: none;

    &.dropdownAnimate {
        display: flex;
        opacity: 1;

        animation: scaleZ 300ms ease-in-out forwards;
        transform-origin: top center;

        border: 1px solid #85cdca;
        // border-top-color: rgb(133, 205, 202);
        // border-top-style: solid;
        // border-top-width: 1px;
        border-top: unset !important;
        // @for $i from 1 through 5 {
        //     &:nth-child(#{$i}) {
        //         // transform-origin: top center;
        //         animation: scaleZ 300ms ($i * 60ms) ease-in-out;
        //     }
        // }
    }
}

.multiselectDropdownIcon {
    display: flex;
    align-items: center;
    padding: 0 6px;
}

.multiselectInput {
    display: flex;
    width: 180px;
    height: 35px;

    background: #daffe9;
    border: 2px solid #85cdca;
    border-radius: 5px;

    margin: 1rem 1rem 0;
    justify-content: space-between;

    & img {
        width: 30px;
        height: 26px;
    }
}

.multiselectValueWrapper {
    display: flex;
}

.multiselectValue {
    padding: 5px 6px;
}

@keyframes scaleZ {
    0% {
        transform: scaleY(0);
        // height: 5px;
    }
    80% {
        transform: scaleY(1.2);
    }
    100% {
        transform: scaleY(1);
        // height: 100%;
    }
}